* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: bisque;
    display: grid;
    place-items: center;
    overflow: hidden;

}

.world {
    bottom: -60vh;
    min-width: 100vw;
    min-height: 100vw;
    position: relative;
    background-color: aliceblue;
    border-radius: 50%;
    animation: rotato infinite linear 30s;

}

/* Buildings Start */
span {
    position: absolute;

}

span.a {
    background-color: black;
    height: 7vw;
    width: 7vw;

}

.a1 {
    left: 21%;
    transform: rotate(-30deg);
}

.a2 {
    left: 19%;
    bottom: 1%;
    transform: rotate(30deg);
}

.a3 {
    right: 8%;
    transform: rotate(-50deg);
    bottom: 10%;
}

.a4 {
    right: -2%;
    top: 25%;
    transform: rotate(65deg);
}

span.b {
    background-color: rgb(109, 104, 104);
    height: 15vw;
    width: 8vw;
}


.b1 {
    left: 8%;
    transform: rotate(-45deg);
}

.b2 {
    left: 84%;
    transform: rotate(40deg);
}

.b3 {
    left: 7%;
    transform: rotate(40deg);
    bottom: 1%;
}

.b4 {
    right: 15%;
    transform: rotate(-40deg);
    bottom: -5%;
}

/* Buildings End */

/* Sun Start */

.circle {
    position: fixed;
    top: 10%;
    right: 20%;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: gold;
}


@keyframes rotato {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(359deg);
    }
}