@import url('https://fonts.cdnfonts.com/css/zb-zanutura');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100vw;
    height: 100vh;
    background-color: #4e42b85d;
    display: grid;
    place-items: center;

}

.container {
    width: 32vw;
    height: 10vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 0;
}

.frame {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    outline: 1.9vw solid #782775;
    border: black 0.1vw solid;
    position: absolute;
    left: 2vw;
    border: 0.1vw solid #472668;
}

.body {
    position: absolute;
    background-color: #DD3695;
    width: 6vw;
    height: 2vw;
    border-radius: 50%;
    z-index: -1;
    left: 0;
    bottom: -10%;
    border: 0.1vw solid #472668;
}

.head {
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
    background-color: #DD3695;
    border: 0.09vw solid #472668;
    bottom: .6vw;
    left: .15vw;
    position: absolute;
}

.ear {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    outline: .3vw solid #DD3695;
    position: absolute;
    background-color: #F06AA1;
}

.ear.r {
    right: 0;
}

.ear.l {
    left: 0;
}

.mouth {
    width: 4vw;
    height: 2vw;
    background-color: #F06AA1;
    position: absolute;
    border-radius: 6rem 6rem 0 0;
    transform: rotate(0deg);
    bottom: 17%;
    left: 12.5%;
    border-top: #472668 .01vw solid;
}

.bottom {
    position: absolute;
    background-color: #F06AA1;
    width: 3.9vw;
    height: 2vw;
    border-radius: 50%;
    bottom: -44%;
    left: 1%;
    border-bottom: #472668 1
}

.nose {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #472668;
    position: absolute;
    width: 1vw;
    height: .7vw;
    transform: rotate(180deg);
    border-radius: 1vw;
    left: 1.5vw;
    bottom: .8vw;
    z-index: 5;
}

.eye {
    width: 1vw;
    height: .6vw;
    background-color: #492668;
    position: absolute;
    border-radius: 6rem 6rem 0 0;
    transform: rotate(180deg);
    animation: blinkin 3s ease infinite;
    transition: ease all 2s;
}

@keyframes blinkin {
    from {
        height: .6vw;
    }

    to {
        height: .01vw;
    }
}

.eye.le {
    left: 1.2vw;
    top: 1.8vw;
}

.eye.ri {
    left: 3.2vw;
    top: 1.8vw;
}

.pattern {
    width: 0.1vw;
    height: 2.3vw;
    background-color: transparent;
    border: .07vw dashed #1212124a;
    position: absolute;
    left: 2.6vw;
    top: 1%;
}

.shape {
    width: 0.1vw;
    height: .7vw;
    background-color: #602F70;
    position: absolute;
    left: 1.96vw;
    top: 45%;
}

.curve {
    width: 2vw;
    height: 5vw;
    border: solid .1vw #602F70;
    border-color: transparent transparent #602F70 transparent;
    border-radius: 0 0 20vw 50%/35vw;
    position: absolute;
    left: 30vw;
}

.lef {
    left: -.7vw;
    transform: rotate(20deg);
    top: -540%;
}

.rig {
    left: .8vw;
    transform: rotate(20deg);
    top: -540%;
}


h1 {
    position: absolute;
    right: 0vw;
    font-family: 'ZB Zanutura', sans-serif;
    font-size: 7vw;
    font-weight: 600;
    color: white;
    top: 1vw;
}

span {
    color: #DC3695;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: bolder;
}

@media only screen and (max-width: 300px) {

    h1 {
        display: none;
    }

    .frame {
        left: 40%;
    }
}

.cemkaplan {
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: 10%;
    right: 10%;
}

.cem {
    width: 8vw;
    height: 8vw;
}

.cem :hover {
    transform: translateY(10px);
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: none;
}

ul li:hover ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li ul {
    position: absolute;
    width: 8vw;

    display: none;
}

li {
    padding: 0.5vw;
}

.lg:hover {
    transform: scale(1.2);
}

.lg {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}