@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    width: 100vw;
    height: 100vh;
    background-color: #4d42b8ba;
    display: grid;
    place-items: center;

}

.container {
    width: 25vw;
    height: 10vw;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 0;
}

.frame {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    outline: 1.9vw solid #782775;
    border: black 0.1vw solid;
    position: absolute;
    left: 2vw;
    border: 0.1vw solid #472668;
}

.body {
    position: absolute;
    background-color: #DD3695;
    width: 6vw;
    height: 2vw;
    border-radius: 50%;
    z-index: -1;
    left: 0;
    bottom: -10%;
    border: 0.1vw solid #472668;
}

.head {
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
    background-color: #DD3695;
    border: 0.09vw solid #472668;
    bottom: .6vw;
    left: .1vw;
    position: absolute;
}

.ear {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    outline: .3vw solid #DD3695;
    position: absolute;
    background-color: #F06AA1;
}

.ear.r {
    right: 0;
}

.ear.l {
    left: 0;
}

.mouth {
    width: 4vw;
    height: 2vw;
    background-color: #F06AA1;
    position: absolute;
    border-radius: 6rem 6rem 0 0;
    transform: rotate(0deg);
    bottom: 17%;
    left: 12.5%;
    border-top: #472668 .01vw solid;
}

.bottom {
    position: absolute;
    background-color: #F06AA1;
    width: 3.9vw;
    height: 2vw;
    border-radius: 50%;
    bottom: -44%;
    left: 1%;
    border-bottom: #472668 1
}

.nose {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #472668;
    position: absolute;
    width: 1vw;
    height: .7vw;
    transform: rotate(180deg);
    border-radius: 1vw;
    left: 1.5vw;
    bottom: .8vw;
}

.eye {
    width: 1vw;
    height: .6vw;
    background-color: #492668;
    position: absolute;
    border-radius: 6rem 6rem 0 0;
    transform: rotate(180deg);
}

.eye.le {
    left: 1.2vw;
    top: 1.8vw;
}

.eye.ri {
    left: 3.2vw;
    top: 1.8vw;
}

.pattern {
    width: 0.1vw;
    height: 2.3vw;
    background-color: transparent;
    border: .07vw dashed #1212124a;
    position: absolute;
    left: 2.6vw;
    top: 1%;
}



































h1 {
    position: absolute;
    right: 1vw;
    display: none;
}