@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico';
    text-align: center;
    font-size: 4vmin;
    background-color: bisque;
    animation: move 5s infinite;
}

.fancylook {
    background-color: rgb(33, 33, 33);
    color: transparent;
    -webkit-background-clip: text;
    animation: move 4s infinite;
}

@keyframes move {
    50% {
        background-image: linear-gradient(265deg, #A0FE65 0%, #FA016D 50%, #fb2 100%);
    }

}

.cemkaplan {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 100px;
}

.cem {
    width: 100px;
    height: 100px;
}

.cem :hover {
    transform: translateY(5px);
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: none;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 100px;
    display: none;
}

li {
    padding: 10px;
}

.lg:hover {
    transform: scale(1.2);
}

.lg {
    height: 80px;
    width: 80px;
    border-radius: 80px;
}