* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    background-color: blanchedalmond;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    height: 400px;
    width: 800px;
    border-radius: 10px;
    border: 5px solid black;

}

h2 {
    animation: blinker 3s linear infinite;
    font-size: 2.5rem;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    transition: .50s;
    cursor: pointer;
    margin: 20px;
    display: grid;
    place-items: center;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.container:hover> :not(:hover) {
    opacity: .01;
    transform: scale(2);
    background-color: rgb(255, 255, 255);
}




.cemkaplan {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 100px;
}

.cem {
    width: 100px;
    height: 100px;
}

.cem :hover {
    transform: translateY(5px);
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: none;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 100px;
    display: none;
}

li {
    padding: 10px;
}

.lg:hover {
    transform: scale(1.2);
}

.lg {
    height: 80px;
    width: 80px;
    border-radius: 80px;
}