* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #abd7eb;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}

.icon {
    width: 10vw;
    height: 10vw;
    position: relative;
    cursor: pointer;
    background-color: rgb(44, 44, 44);
    border-radius: 5vw;
    display: grid;
    place-items: center;

}

span {
    width: 6vw;
    height: .6vw;
    border-radius: 1vw;
    background-color: white;
    position: absolute;
    transition: all ease-out .2s;
}

span.half {
    width: 3.5vw;
    height: .6vw;
    border-radius: 1vw;
    background-color: white;
    position: absolute;
}

.top {
    top: 3.5vw;
}

.left {
    left: 2vw;
}

.right {
    right: 2vw;
}

.bottom {
    bottom: 3.5vw;
}


.icon:hover span:nth-child(3) {
    opacity: 0;
    transition: all ease .1s;
}

.icon:hover span:nth-child(1) {
    transform: rotate(45deg);
}

.icon:hover span:nth-child(2) {
    transform: rotate(-45deg);
}

.icon:hover span:nth-child(4) {
    transform: rotate(135deg);
}

.icon:hover span:nth-child(5) {
    transform: rotate(-135deg);
}

.cemkaplan {
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: 10%;
    right: 10%;
}

.cem {
    width: 8vw;
    height: 8vw;
}

.cem :hover {
    transform: translateY(10px);
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: none;
}

ul li:hover ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li ul {
    position: absolute;
    width: 8vw;

    display: none;
}

li {
    padding: 0.5vw;
}

.lg:hover {
    transform: scale(1.2);
}

.lg {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
}