*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background: linear-gradient(to right, #da4453, #89216b); 
    overflow: hidden;
}

.container {
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    position: relative;
    perspective: 100%;
    transform-style: preserve-3d;
    animation: roll 20s infinite linear;
    

}

.card {
    height: 200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    transform-style: preserve-3d;  
}


.card.a {
  position: absolute;
  transform: translateZ(-100px);

  border:3px solid black;
  display: grid;
  place-items: center;
  
}

span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


span.red {
     background-color: #da4453;
     border: 2px solid black;
}

.card.b{
    position: absolute;
  transform: translatez(100px);

  border:3px solid black;
  display: grid;
  place-items: center;
  
  z-index: 3;
}

span.dot2{
    background-color: black;
    position: absolute;
    left: -50px;
    top: -50px;
    margin: 100px;
}

span.dot2.ddot2{
    background-color: rgb(10, 10, 10);
    position: absolute;
    right: 0;
    bottom: 0;
}
.card.c {
  position: absolute;
  transform: translateX(100px) rotateY(90deg);
  border:3px solid black;
  display: grid;
  place-items: center;
  
}

span.dot3{
    background-color: black;
    position: absolute;
    left: -65px;
    top: -60px;
    margin: 100px;
}

.card.d{
    position: absolute;
    transform: translateX(-100px) rotateY(90deg);

    border:3px solid black;
    display: grid;
    place-items: center;
    
}

.dot4a{
    background-color: rgb(0, 0, 0);
    position: absolute;
    left:20px;
    top: 30px;
}

.dot4b{
    position: absolute;
    bottom: 30px;
    left: 20px;
    background-color: black;

}

.dot4c{
    position: absolute;
    bottom: 30px;
    right: 20px;
    background-color: black;
}

.dot4d{position: absolute;
    top: 30px;
    right: 20px;
    background-color: black;}


.card.e{ position: absolute;
    transform: translatey(100px) rotatex(90deg);

    border:3px solid black;
    display: grid;
    place-items: center;}

    .dot5a{
        background-color: rgb(0, 0, 0);
        position: absolute;
        left:20px;
        top: 30px;
    }
    
    .dot5b{
        position: absolute;
        bottom: 30px;
        left: 20px;
        background-color: black;
    
    }
    
    .dot5c{
        position: absolute;
        bottom: 30px;
        right: 20px;
        background-color: black;
    }
    
    .dot5d{position: absolute;
        top: 30px;
        right: 20px;
        background-color: black;}  
     
    .dot5e{position: absolute;
            top: 70px;
            right:70px;
            background-color: black;}  


.card.f{
    position: absolute;
    transform: translatey(-100px) rotatex(-90deg);
    border:3px solid black;
    display: grid;
    place-items: center;
    
}

.dot6a{
    background-color: rgb(0, 0, 0);
    position: absolute;
    left:20px;
    top: 10px;
}

.dot6b{
    position: absolute;
    bottom: 10px;
    left: 20px;
    background-color: black;

}

.dot6c{
    position: absolute;
    top:72px;
    left: 20px;
    background-color: black;
}

.dot6d{position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: black;}  
 
.dot6e{position: absolute;
        top: 70px;
        right:20px;
        background-color: black;} 

.dot6f{position: absolute;
    top:10px;
            right:20px;
            background-color: black;} 
@keyframes roll {
    50%
    {
        transform: rotatex(360deg) rotateY(360deg) rotate3d(1,1,1,360deg);
    }
}

.cemkaplan {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 100px;
}

.cem {
    width: 100px;
    height: 100px;
}

.cem :hover {
    transform: translateY(5px);
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: none;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 100px;
    display: none;
}

li {
    padding: 10px;
}

.lg:hover {
    transform: scale(1.2);
}

.lg {
    height: 80px;
    width: 80px;
    border-radius: 80px;
}