* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: antiquewhite;
    display: grid;
    place-items: center;
}

.car-body {
    min-width: fit-content;
    min-height: fit-content;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: ken 1s infinite linear;
}

.body-up {
    min-width: 150px;
    height: 100px;
    position: absolute;
    border-bottom: 50px solid #4d403c;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    bottom: 100%;

}

.windows {
    min-height: 40px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 110%;
    z-index: 2;
}


.body-down {
    min-width: 300px;
    min-height: 50px;
    background-color: #4d403c;
    top: 50%;
    position: absolute;
}

.wheels {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(41, 41, 41);
    z-index: 333;
    height: 15px;
    bottom: -20%;
    position: absolute;
}

.wheel-back {
    min-height: 60px;
    min-width: 60px;
    border: 15px solid black;
    background-color: rgb(104, 104, 104);
    transform: rotate(45deg);
    bottom: -30px;
    left: 20px;
    position: absolute;
    animation: move infinite 4s linear;

}

.wheel-front {
    min-height: 60px;
    min-width: 60px;
    border: 15px solid black;
    background-color: rgb(97, 97, 97);
    transform: rotate(45deg);
    bottom: -30px;
    right: 20px;
    position: absolute;
    animation: move infinite 4s linear;
}

.lights {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(216, 217, 210);
    z-index: -1;
    height: 15px;
    bottom: 200%;
    position: absolute;
}

.light-front {
    height: 10px;
    width: 20px;
    border-radius: 15px 15px 0 0;
    background-color: rgb(255, 255, 255);
    transform: rotate(270deg);
    right: -10px;
    position: absolute;
    outline: rgb(204, 198, 198) solid 1px;
}

.light-back {
    height: 10px;
    width: 20px;
    background-color: rgb(244, 3, 3);
    transform: rotate(90deg);
    left: -10px;
    position: absolute;
    outline: rgb(255, 3, 3) solid 1px;
}

.lightani {
    width: 20px;
    height: 20px;
    z-index: -1;
    border-radius: 20px;
    background-color: yellow;
    position: absolute;
    animation: lighty infinite 10s ease;
    background-color: lemonchiffon;
    box-shadow:
        0 0 12px 6px #fff,
        0 0 20px 12px rgb(251, 251, 3),
        0 0 28px 18px rgb(253, 237, 10);
}

@keyframes lighty {

    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1.5);
    }

}


@keyframes move {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes ken {

    from {
        transform: rotate(0deg);
    }

    33% {
        transform: rotate(-3deg);
    }

    66% {
        transform: rotate(3deg);
    }

    99% {
        transform: rotate(0deg);
    }
}


.cemkaplan {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20px;
    right: 100px;
}

.cem {
    width: 100px;
    height: 100px;
}

.cem :hover {
    transform: translateY(5px);
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: none;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 100px;
    display: none;
}

li {
    padding: 10px;
}

.lg:hover {
    transform: scale(1.2);
}

.lg {
    height: 80px;
    width: 80px;
    border-radius: 80px;
}